.menu {
  display: block;
  width: 320px;

  text-align: left;
}
.menu p {
  display: flex;
  height: 64px;
  flex-direction: column;
  justify-content: center;
}
a {
  text-decoration: none;
}
.active p {
  color: #ffffff;
}
.active svg {
  fill: #ffffff;
}
.inactive p {
  color: #8585ad;
}
.inactive svg {
  fill: #8585ad;
}
.clickable {
  color: #8585ad;
  cursor: pointer;
}
.clickable:hover {
  color: #ffffff;
}
