.wrapper {
  width: 1240px;
  margin: 0 auto;
}
.content {
  display: flex;
  width: 1240px;
  margin-top: 300px;
  justify-content: left;
  align-items: center;
  gap: 60px;
}
.list {
  display: flex;
  width: 480px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.list p {
  top: '50px';
  height: '380px';
}