nav {
  width: 100%;
  margin: 0 auto;
  background-color: #1C1C21;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1280px;    
  margin: auto;
}
.header_menu {
  display: flex;
  justify-content: flex-start;
}
.header_item a {
  display: flex;
  align-items: center;
  gap: 8px;

  color: #FFFFFF;
  text-decoration: none;
}
.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #FFFFFF;
  text-decoration: none;
}
.header_account a {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  text-decoration: none;
}
.header_account p {
  margin-left: 3px;
}
.active p {
  color: #FFFFFF;
}
.active svg {
  fill: #FFFFFF;
}
.inactive p {
  color: #8585AD;
}
.inactive svg {
  fill: #8585AD;
}
